body {
    position: relative;
    height: 100vh;
}

button {
    margin-bottom: 30px;
}

#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gameField {
    height: 200px;
    width: 200px;
}

#youWinner {
    position: absolute;
    top: 50%;
    font-size: 40px;
    color: red;
    display: none;
}
.buttons {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    height: 20%;
}

span {
    font-size: 14px;
}

.item {
    /*display: flex;*/
    width: 20%;
    border: 2px solid white;
}
